{# app/Resources/views/Emails/registration.html.twig #}
{# example, assuming you have a route named "login" #}
{#To login, go to: <a href="{{ url('login') }}">...</a>.#}
Chèr(e) {{prenom}} {{nom}}

Félicitations, votre inscription a été prise en compte.
Vous pouvez dès à présent ouvir une session sur SimpleStock site {{site}} avec des droits limités.
Votre statut provisoire est "TEMPORAIRE". Il sera prochainement modifié et vous en serez avisé par mail.

Le nouveau statut qui vous sera affecté vous donnera des droits plus étendus :
- Statut d'EXAMINTATEUR : permet de consulter les informations à l'exclusion de tout  ajout, modification ou suppression
- Statut de GESTIONNAIRE : permet d'ajouter/supprimer/modifier des références ou des articles dans le stock
- Statut d'ADMINISTRATEUR : permet en plus d'ajouter/supprimer/modifier des Familles, Composants, Entrepots et Emplacements

Si vous êtes inconnu(e) du gestionnaire de SimpleStock site {{site}} vous serez désinscrit.
 
A bientôt.

Mail généré automatiquement par SimpleStock - {{site}} -  Ne pas répondre à ce mail.
