<!DOCTYPE html>
<html>
  <head>
    <title>Elevation de {{valeur}} à la puissance {{exposant}}</title>
  </head>
  <body>
    <h1>Récupération des valeurs d'entrée par la méthode GET</h1>
    <h2>Le nombre {{valeur}} élevé à la puissance {{exposant}} est égal à {{resultat}}</h2>
  </body>
</html>
