{# app/Resources/views/Common/alertaccessuppr.html.twig #}
{% extends 'SYM16SimpleStockBundle::layout.html.twig' %}

{% block BLOCA %}
{% javascripts '@SYM16SimpleStockBundle/Resources/public/js/jquery-1.12.0.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{#=============== Code HTML de la fenêtre modale ======================#}
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-warning">
                <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
                <h4 class="modal-title">Suppression de {{nom}} refusée !!!!</h4>
            </div>
            <div class="modal-body">
                <p>Un(e) {{entite}} d'id={{id}} utilise {{nom}} </p>
		<p>Vous devez le supprimer avant de supprimer {{nom}}<p>
            </div>
            <div class="modal-footer">
                {#<button class="btn btn-primary" id="confirmModalYes" type="button"><i class="icon icon-check icon-lg"></i> Supprimer</button>#}
                <button class="btn btn-primary" id="confirmModalNo" href="{{ path(path.list) }}" type="button" data-dismiss="modal"><i class="icon icon-times icon-lg"></i> OK</button>
            </div>
        </div>
    </div>
</div>
{#========== Java Script pour gestion de la fenêtre modale =============#}
<script type="text/javascript">
    $(document).ready(function () {

	$("#confirmModal").modal("show");

        $("#confirmModalNo").click(function(e) {
            window.location.href =  $(this).attr("href");
            //("#confirmModal").modal("hide");
        });

    });
</script>
{% endblock %}
