{#<!DOCTYPE html>

<html>
  <body>#}
{% extends '::stocklayout.html.twig' %}
      {% block HEADER %}
    <h2>Bienvenue sur Simple Stock dans le stock : {{stockname}}</h2>
    {# utilisation des variables déclarées dans app/config/config.yml #}
    {# <h3>Utilisateur : {{ stockuser }} - Votre statut est :{{stockuserstatut}}</h3> #}
    {# utilisation de variables de sessions déclarées dans AcceuilController.php #}
    <h3>Utilisateur : {{ app.session.get('stockuser') }} - Votre statut est :{{stockuserstatut}}</h3>
      {% endblock %}
    {% block BLOCA %}
    {% endblock %}
    {% block FOOTER %}
    <footer>
    <dl>
    <ht><b>Mentions légales</b></dt>
    <dd>Propulsé par : Symfony, Linux, Apache, PHP, MySQL</dd>
    <dd>Projet réalisé par les étudiants de {{university}}, Cursus : {{cursus}}, Cours : {{lecture}}, Prof :  {{prof}}</dd>
    </dl>
    </footer>
    {% endblock%}
{#  </body>
</html>#}
